:root {
  --clr-white: #ffffff;
  --clr-text: #1c202b;
  --clr-blue: #0a327b;
  --clr-gray: #5e6778;
}
.container {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-width: min(90%, 810px);
  min-height: 80%;
  background-color: var(--clr-white);
  box-shadow: 0px 20px 60px 0px #4961a80d;
}
.notifications {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.notifications-container{
  border: 1px solid purple;
  display: flex;
  gap:10px;
  flex-direction: column;
  justify-content: space-between;
}
.title-container {
  height: 20%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}
.notifications-count {
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 6px;
  background-color: var(--clr-blue);
  color: var(--clr-white);
}
.mark-read {
  cursor: pointer;
  border: none;
  background-color: var(--clr-white);
  color: var(--clr-gray);
  font-size: 16px;
}
